{% extends 'base.html' %}

{% load static %}

{% block content %}

  <body>
    <h2>Lista de clientes</h2>

    {% for c in clientes %}
        <div style="border: darkcyan 2px solid;">
            <p style="padding-left: 20px;">  Nombre: {{ c.nombre }} </p>
            <p style="padding-left: 20px;">  Peso: {{ c.peso }} kg</p>
            <p style="padding-left: 20px;">  Estatura {{ c.estatura }} cm</p>
            <p style="padding-left: 20px;">  Edad {{ c.edad }} años</p>
            <p style="padding-left: 20px;">  Especie {{ c.especie }} </p>
        </div>
        <br>
    {% endfor %}

  </body>

{% endblock content %}
