{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title>Mis Patitas</title>
</head>

<body>

    {% block navbar %}
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="logo">
            </div>

            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'servicios' %}">Servicios</a></li>
                <li><a href="{% url 'quienes_somos' %}">Quienes Somos</a></li>
                <li><a href="{% url 'contactanos' %}">Contacto</a></li>
                <li><a href="{% url 'agregar_cliente' %}">Registrar Mascota</a></li>
                <li>
                    <h1>Mis Patitas</h1>
                </li>
            </ul>
        </div>



    </div>
    {% endblock %}

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>

    {% block footer %}

    <div class="footer">

        <div class="redes">
            <p>
                <b>Siguenos</b>
            </p>
            <a href="https://www.facebook.com/Mis-Patitas-104129001797633" target="_blank"><img
                    src="{% static 'images/s-facebook.png' %}" alt="facebook"></a>
            <a href="https://twitter.com/mis_patitas" target="_blank"><img src="{% static 'images/s-twitter.png' %}"
                    alt="twitter"></a>
            <a href="https://www.instagram.com/mispatitas1234/ " target="_blank"><img
                    src="{% static 'images/s-instagram.png' %}" alt="instagram"></a>
        </div>

        <div class="fono">
            <p>
                <b>Llamanos</b>
            </p>
            <img src="{% static 'images/whatsapp.png' %}" alt="fono">
            <b>+56 9 98765431</b>
        </div>
    </div>

    {% endblock %}

    </div>

    {% block javascript %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {% endblock javascript %}

</body>

</html>